/* #header_top */
#header_top{display: none;}

/* #header_nav */
#header_nav{display: none;}

/* #header_inner_top */
#header_inner_top{width: 100%; height: 104px;}
#header_inner_top .container{width: 100%; height: 73px;}
#header_inner_top .container .openMOgnb{display: block; float: left; margin-left: 30px; margin-top: 25px; /* position: absolute; top: 30px; left: 30px; z-index: 1; */}
#header_inner_top .container .openMOgnb span{display: block; box-sizing: border-box; width:25px; height: 2px; background-color: #595959; margin-bottom: 4px;}
#header_inner_top .container h1{font-size: 0; float: none; width: 100%;}
#header_inner_top .container h1 a img{position: unset; margin:0 auto; width: 250px;}
#header_inner_top .container div{display: none;}
.MOclock{display: block; height: 30.8px; width: 100%; background-color: #f4f4f4; color: #595959; box-sizing: border-box; padding: 5px 0; font-size: 14px; line-height: 20.8px;}
.MOclock p{text-align: center;}
.MOclock p span{color: #3669ac;}

/* #gnb */
#gnb{display: none;}

/* #contents */
#contents{width: 100%; height: 130px;}
#contents #content_search{width: 100%; height: 130px;}
#contents #content_search .container{padding: 40px 20px; box-sizing: border-box;}
#contents #content_search .container>div{position: unset;}
#contents #content_search .container div .search_bar{width:79.8%; height: 50px;}
#contents #content_search .container div .search_bar input::placeholder{font-size: 14px; letter-spacing: -1px;}
#contents #content_search .container div >input{width:9%; /* 52px */ height: 52px; font-size: 14px; white-space: pre-wrap;}
#contents #content_search .container div >.content_search_input_button1{margin: 0;}
#contents #content_search .container div >.content_search_input_button2{float: right;}

/* #content_menu */
#content_menu{height: 204px;}
#content_menu .container{width: 100%; height: 204px;}
#content_menu .container ul{width: 100%; line-height: 0; height: 204px; display: flex; flex-wrap: wrap;}
#content_menu .container ul li{float: none; width: 22%;}
#content_menu .container ul li a{position: unset; font-size: 15px; width: 171px; height: 70px; display: flex; flex-direction: column; align-items: center; justify-content: center;}
#content_menu .container ul li a img{position: unset; width: 50px; }
#content_menu .container ul li:nth-child(6) a img{position: unset; width: 50px;}
#content_menu .container ul li:nth-child(8){display: none;}

/* #content_banner */
#content_banner{width: 100%; height: 107px;}
#content_banner .container{width: 100%; height: 107px;}
#content_banner .container a{width: 100%; height: 107px;}
#content_banner .container a p:first-child{float: none; line-height: 107px; margin: 0; text-align: center; }
#content_banner .container a p:last-child{display: none;}

/* #content_menu2 */
#content_menu2{width: 100%; height: 271px; box-sizing: border-box; padding: 30px 20px;}
#content_menu2 .container{width: 100%; padding:0;}
#content_menu2 .container > p{font-size: 18px; padding: 0; width: 100%; height: 23.39px; margin-bottom: 20px;}
#content_menu2 .container > p span a{font-weight: 400; font-size: 30px;}
#content_menu2 .container > div > ul{float: none; display: flex;}
#content_menu2 .container > div > ul>li{width: 33.3%;}
#content_menu2 .container > div > ul li a{font-size: 14px; display: inline;}
#content_menu2 .container > div > ul>li:first-child{border-left: 0; border-top: 2px solid #329bba; }
#content_menu2 div>p span >a{position: unset;}
.uarr{display: none;}
#content_menu2 .container div div{overflow: hidden; height: 106px; float: none; width: 100%;}
#content_menu2 .container div div ul{column-count: unset;}
#content_menu2 .container div div ul li a{font-size: 14px;}

/* #content_calendar */
#content_calendar{width: 100%; height: 1492px; padding: 28px 15px; box-sizing: border-box;}
#content_calendar .container{width: 100%; padding: 0;}
#content_calendar .container div:first-child{width: 100%;}
#content_calendar .container div:first-child .calender01{width: 100%;}
#content_calendar .container div #month{width: 100%;}
#content_calendar .container div #month>div{width: 100%;}
#content_calendar .container div:first-child .calender02{width: 100%;}

/* #content_bottom */
#content_bottom{background: none;}

/* #footer_nav */
#footer{display:none;}